/* Reset default margins and paddings */
html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Sets the height to the full viewport */
    overflow: hidden; /* Prevents scrolling */
}
body {
    font-family: 'Nunito Sans', sans-serif;    
    padding: 20px;
    /* background: url('background.jpg') no-repeat center center fixed;  */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition: background-image 0.9s ease-in-out;
}
.navigation {
    font-size: 25px;
    display: flex;
    justify-content: flex-start;
    gap: 35px;
    margin-bottom: 20px;
    font-family: 'Nunito Sans', sans-serif;
}
.navigation a{
    text-decoration: none;  
    color: black;         
}

.navigation a:visited {
    color: black;           
}

.navigation a.active {
    color: blue;
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

#settingsButton {
    margin-left: auto; /* Pushes the button to the right */
}
#settingsButton:hover {
    animation: spin 1s ease-in-out;
}

.welcome {
    text-align: center;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
}


.welcome {
    font-size: 60px;
    overflow: hidden; 
    white-space: nowrap; 
    animation: blink 1s step-end infinite;
}
@keyframes blink {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: black;
    }
}
.typing {
    animation: typewriter 3s steps(40, end) 1s 1 normal both;
    border-right: 0.15em solid black; /* Cursor */
}


#quote-container {
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    padding-top: 20px;
}

#quote-text {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 300;
}

#quote-author {
    font-size: 20px;
    font-weight: 300;
}






.timer-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /* This ensures it remains in the center */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background-color: transparent; /* No background color */
}



.button-group {
    display: flex;
    gap: 10px; /* Space between buttons */
}

.button-group button {
    font-family: 'Nunito Sans', sans-serif; /* Using the Nunito Sans font */
    font-size: 15px;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid blue; /* Add a border to the buttons */
    border-radius: 25px; /* Making the buttons rounder */
    background-color: transparent; /* Setting background as transparent */
    transition: background-color 0.3s, transform 0.2s; /* Smooth transition effect for hover and active states */
}

.button-group button:hover {
    background-color: rgba(0, 0, 255, 0.1); /* Slight blue background on hover */
    transform: scale(1.05); /* Slightly enlarges the button on hover */
}

.button-group button:active {
    transform: scale(1); /* Resets the size when the button is clicked */
}

.button-group .active {
    background-color: rgba(0, 0, 255, 0.1); /* Give the active button a slight blue background */
}

.time {
    font-size: 15rem;
    margin: 20px 0;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /*added shadow for visibility*/
}

.controls {
    display: flex;
    gap: 30px;
}

.controls button {
    background-color: transparent;
    color: rgba(0, 0, 255, 0.5);
    border: none;
    font-size: 40px;  /* Adjust the size of the icons */
    cursor: pointer;
    transition: color 0.3s; /* Transition effect for color change on hover */
}

.controls button:hover {
    color: white; /* Change the icon color on hover */
}



.timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spotify-container {
    width: 1260px;
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.spotifyEmbed {
    max-width: 90%;
    max-height: 40%;
    height: 80px;
}

@media screen and (min-width: 768px) {
    .spotifyEmbed {
        width: 50%;
    }
}

.reading-list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background: transparent;
}

/* Style for the card container */
.book-card {
    width: 150px;
    height: 220px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Ensures nothing goes outside the card's rounded corners */
    background-color: white; /* Or any color you prefer */
    display: flex;
    flex-direction: column; /* Stack content vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
}

/* Style for the image inside the card
.book-card img {
    width: 100%;
    height: 110px;
    object-fit: cover; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
}

*/
.book-text-container {
    padding: 10px;
    text-align: center;
}

.book-text-container h4 { 
    margin-top: 0;
    color: #333;
}

.book-text-container p { 
    color: #666;
    font-size: 0.9em;
} 

.book-card:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.book-modal{
    display: none;
}
.add-new {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc; /* Border for visibility */
    border-radius: 10px;
    cursor: pointer; /* Change cursor to indicate it's clickable */
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background: #fff;
    padding: 20px;
    width: 400px;
    margin: 50px auto;
    position: relative;
    border-radius: 10px;
}

.close {
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
    font-size: 20px;
}
.add-new i {
    color: #333; /* Darker color for the icon */
    font-size: 24px; /* Increase the size of the icon */
}

#pagination {
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    align-items: center;
    padding: 10px 0;
    margin-top: 10px; /* Space between search results and pagination */
}

#pagination button {
    background-color: #007bff; /* Example blue background */
    color: white; /* White text */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    padding: 8px 15px; /* Top/bottom and left/right padding */
    margin-left: 5px; /* Space between buttons */
    cursor: pointer; /* Cursor changes to pointer to indicate clickable */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

#pagination button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

#pagination span {
    margin-left: 10px; /* Space before the page number */
}
/* Detail modal */
/* Book Detail Modal Styles */
#bookDetailModal #bookNotes {
    font-family: 'Nunito Sans', sans-serif;
    width: 100%; 
    height: 100px; 
    margin-bottom: 15px;
    border: 1px solid #ccc;
    padding: 10px; 
    box-sizing: border-box; 
}

#bookDetailModal .modal-content {
    font-family: 'Nunito Sans', sans-serif;
    color: #333;
    max-width: 600px; /* Set a max-width for larger screens */
    width: 90%; /* Responsive width */
    margin: 5% auto; /* Centering the modal */
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#bookDetailModal h2, #bookDetailModal h4 {
    margin-top: 0;
    color: #007bff; /* Theme color */
}

#bookDetailModal p {
    margin-bottom: 15px;
}

#bookDetailModal label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#bookDetailModal #starRating {
    margin: 10px 0;
}

#bookDetailModal .fa-star {
    color: gray;
    cursor: pointer;
}

#bookDetailModal .fa-star.checked {
    color: gold;
}

#bookDetailModal #bookNotes {
    width: 100%; /* Responsive width */
    height: 100px; /* Fixed height */
    margin-bottom: 15px;
}

#bookDetailModal #saveDel {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#bookDetailModal .fa-trash-can, #bookDetailModal .fa-save {
    cursor: pointer;
    font-size: 20px;
    color: #007bff;
}

#bookDetailModal .fa-trash-can:hover, #bookDetailModal .fa-save:hover {
    color: #0056b3;
}


#saveDel{
    display:flex;
    justify-content: space-between;
}
#saveButtonID{
    margin-right: 6px;
}
/* Add this CSS to your stylesheet to make background-option cards smaller squares */
.background-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Adjust the gap as needed */
}

.background-option {
    width: 100px; /* Adjust the width to your desired size */
    height: 100px; /* Equal width and height to create squares */
    border: 2px solid #ccc; /* Add a border for separation (optional) */
    cursor: pointer;
    transition: border 0.3s; /* Add a transition effect (optional) */
}

.background-option:hover {
    border: 2px solid #007bff; /* Change border color on hover (optional) */
}

.background-option img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire card */
}


#settingsWord{
    text-align: center;
}
.login-body{
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    background: url('login.jpg') no-repeat center center fixed;  
    background-size: cover;
    height: 100vh; /* Viewport height */
    display: flex;
    align-items: center; /* Vertical alignment */
    justify-content: center; /* Horizontal alignment */
}
.login-container {
    text-align: center;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px; /* Maximum width */
    width: 100%; /* Responsive width */
}

.login-content h1 {
    color: #333;
    margin-bottom: 15px;
}

.login-content p {
    color: #666;
    margin-bottom: 20px;
}

.login-button {
    background-color: #4285F4; /* Google blue */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.login-button:hover {
    background-color: #357ae8; /* Slightly darker blue */
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    order: 1;
}

/* Responsive Navigation Styles */
@media screen and (max-width: 768px) {
    /* Flex properties for navigation, ensuring items are spaced properly */
    body{
        background-size: cover; /* Ensure background covers entire area */
        background-repeat: no-repeat; /* Prevent background from repeating */
    }
    .navigation {
        flex-wrap: wrap; /* Allow items to wrap as needed */
        justify-content: flex-start; /* Align items to the start */
    }

    /* Show Hamburger Icon and move to the left */
    .hamburger {
        display: block;
        order: -1; /* Places the hamburger at the very beginning */
    }

    /* Hide regular navigation links */
    .navigation a {
        display: none;
    }

    /* Responsive Navigation Menu */
    .responsive-menu {
        display: none; /* Initially hidden */
        position: absolute;
        background-color: #fff;
        top: 60px; /* Adjust based on your header's height */
        left: 0; /* Aligns menu to the left */
        width: 100%; /* Full width */
        text-align: center;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Adds a shadow for better visibility */
        font-family: 'Nunito Sans', sans-serif; /* Setting the font */
    }

    .responsive-menu a {
        display: block;
        padding: 15px 20px; /* Adjust padding for better touch targets */
        border-bottom: 1px solid #ccc; /* Add a separator between links */
        color: #333; /* Text color */
        text-decoration: none; /* Remove underline */
        font-size: 16px; /* Set font size */
        transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
    }

    .responsive-menu a:hover {
        background-color: #f8f8f8; /* Light grey background on hover */
        color: #007bff; /* Change text color on hover */
    }



    /* Position the hamburger icon on the left */
    .hamburger {
        order: -1; /* Places the hamburger at the very beginning */
        margin-right: auto; /* Pushes the hamburger to the left */
    }
    .welcome {
        font-size: 30px; /* Smaller font size for welcome message */
        padding-top: 10%; /* Adjust padding */
    }

    #quote-container {
        padding-top: 10px;
    }

    #quote-text {
        font-size: 18px; /* Smaller font size for quote text */
    }

    #quote-author {
        font-size: 16px; /* Smaller font size for quote author */
    }
    .timer-container {
        top: 20%; /* Adjust position */
        left: 50%;
        transform: translate(-50%, -20%);
    }

    .time {
        font-size: 6rem; /* Smaller font size for timer */
    }

    .button-group button {
        font-size: 12px; /* Smaller font size for buttons */
        padding: 5px 10px; /* Adjust padding */
    }

    .controls button {
        font-size: 30px; /* Smaller size for control icons */
    }
}