body::before {
    content: url('background.jpg'), url('background2.jpg');
    display: none;
}
body {
    font-family: 'Nunito Sans', sans-serif;    
    padding: 20px;
    /* background: url('background.jpg') no-repeat center center fixed;  */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.navigation {
    font-size: 25px;
    display: flex;
    justify-content: flex-start;
    gap: 35px;
    margin-bottom: 20px;
    font-family: 'Nunito Sans', sans-serif;
}
.navigation a{
    text-decoration: none;  
    color: black;         
}

.navigation a:visited {
    color: black;           
}

.navigation a.active {
    color: blue;
}
#settingsButton {
    margin-left: auto; /* Pushes the button to the right */
}
.welcome {
    text-align: center;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
}


.welcome {
    font-size: 60px;
    overflow: hidden; 
    white-space: nowrap; 
    animation: blink 1s step-end infinite;
}
@keyframes blink {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: black;
    }
}
.typing {
    animation: typewriter 3s steps(40, end) 1s 1 normal both;
    border-right: 0.15em solid black; /* Cursor */
}


#quote-container {
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    padding-top: 20px;
}

#quote-text {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 300;
}

#quote-author {
    font-size: 20px;
    font-weight: 300;
}






.timer-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /* This ensures it remains in the center */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background-color: transparent; /* No background color */
}



.button-group {
    display: flex;
    gap: 10px; /* Space between buttons */
}

.button-group button {
    font-family: 'Nunito Sans', sans-serif; /* Using the Nunito Sans font */
    font-size: 15px;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid blue; /* Add a border to the buttons */
    border-radius: 25px; /* Making the buttons rounder */
    background-color: transparent; /* Setting background as transparent */
    transition: background-color 0.3s, transform 0.2s; /* Smooth transition effect for hover and active states */
}

.button-group button:hover {
    background-color: rgba(0, 0, 255, 0.1); /* Slight blue background on hover */
    transform: scale(1.05); /* Slightly enlarges the button on hover */
}

.button-group button:active {
    transform: scale(1); /* Resets the size when the button is clicked */
}

.button-group .active {
    background-color: rgba(0, 0, 255, 0.1); /* Give the active button a slight blue background */
}

.time {
    font-size: 15rem;
    margin: 20px 0;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /*added shadow for visibility*/
}

.controls {
    display: flex;
    gap: 30px;
}

.controls button {
    background-color: transparent;
    color: rgba(0, 0, 255, 0.5);
    border: none;
    font-size: 40px;  /* Adjust the size of the icons */
    cursor: pointer;
    transition: color 0.3s; /* Transition effect for color change on hover */
}

.controls button:hover {
    color: white; /* Change the icon color on hover */
}



.timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spotify-container {
    width: 1260px;
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.spotifyEmbed {
    max-width: 90%;
    max-height: 40%;
    height: 80px;
}

@media screen and (min-width: 768px) {
    .spotifyEmbed {
        width: 50%;
    }
}

.reading-list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background: transparent;
}

/* Style for the card container */
.book-card {
    width: 150px;
    height: 220px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Ensures nothing goes outside the card's rounded corners */
    background-color: white; /* Or any color you prefer */
    display: flex;
    flex-direction: column; /* Stack content vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
}

/* Style for the image inside the card
.book-card img {
    width: 100%;
    height: 110px;
    object-fit: cover; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
}

*/
.book-text-container {
    padding: 10px;
    text-align: center;
}

.book-text-container h4 { 
    margin-top: 0;
    color: #333;
}

.book-text-container p { 
    color: #666;
    font-size: 0.9em;
} 

.book-card:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.book-modal{
    display: none;
}
.add-new {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc; /* Border for visibility */
    border-radius: 10px;
    cursor: pointer; /* Change cursor to indicate it's clickable */
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background: #fff;
    padding: 20px;
    width: 400px;
    margin: 50px auto;
    position: relative;
    border-radius: 10px;
}

.close {
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
    font-size: 20px;
}
.add-new i {
    color: #333; /* Darker color for the icon */
    font-size: 24px; /* Increase the size of the icon */
}

#pagination {
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    align-items: center;
    padding: 10px 0;
    margin-top: 10px; /* Space between search results and pagination */
}

#pagination button {
    background-color: #007bff; /* Example blue background */
    color: white; /* White text */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    padding: 8px 15px; /* Top/bottom and left/right padding */
    margin-left: 5px; /* Space between buttons */
    cursor: pointer; /* Cursor changes to pointer to indicate clickable */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

#pagination button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

#pagination span {
    margin-left: 10px; /* Space before the page number */
}
.fa-star {
    cursor: pointer;
    color: gray;
}

.fa-star.checked {
    color: rgb(239, 239, 83);
}
#saveDel{
    display:flex;
    justify-content: space-between;
}